/* TODO: viewport or other units? */

:root {
  --header-height: 9vh;
  --side-menu-width: 15vw;
  --side-menu-font-size: 15px;
  --background-color: white;
}

.App {
  background-color: var(--background-color);
  text-align: center;
}

.App-logo {
  height: var(--header-height);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Assignment {
  text-align: left;
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
