@charset "UTF-8";

/* TODO: viewport or other units? */

/* Get any fonts you like here */
@import url('https://fonts.googleapis.com/css?family=Lato|Inconsolata|Fira+Sans|Roboto');

:root {
  --header-height: 9vh;
  --side-menu-width: 15vw;
  --side-menu-font-size: 15px;
  --background-color: white;
  --xwalk: 0px;
  --ywalk: 0px;
}

.App {
  background-color: var(--background-color);
  text-align: center;
}

.App-logo {
  height: var(--header-height);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-router {
  list-style: none;
  text-align: left;
}

.Assignment {
  text-align: left;
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { 
    opacity: 0;
    transform: translate(var(--xwalk), var(--ywalk));
  }
  to {
    opacity: 1; 
    transform: translate(0, 0);
  }
}
