:root {
  --header-height: 10vh;
  --side-menu-font-size: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: var(--header-height);
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.5vmin;
  align-items: center;
}

.App-brand {
  /* background-color: #282c34; */
  min-height: var(--header-height);
  max-height: var(--header-height);
  min-width: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + var(--header-height) / 5);
  color: black;
}

.App-search {
  font-size: 15px;
  padding-right: 6vmin;
}

.App-link {
  color: #61dafb;
}

.Assignment {
  text-align: left;
  padding-left: 20px;
}

.SideMenu {
  height: calc(98.9vh - var(--header-height));
  width: 13.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid black;
  padding-left: 1.5vw;
  align-items: flex-start;
  font-size: var(--side-menu-font-size);
}

.SideMenu-h {
  display: flex;
  justify-content: center;
  width: 10vw;
  height: calc(var(--side-menu-font-size) * 1.8vh);
  border: 2px solid black;
  border-radius: 1vmin;
  padding: 1vmin;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.SideMenu-nava {
  display: block;
  text-align: left;
  padding: 1.4vmin;
  cursor: pointer;
  width: 10vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
