.App-header {
	background-color: var(--background-color);
	display: flex;
	z-index: 999;
	height: var(--header-height);
	flex-direction: row;
	flex-shrink: 0;
	flex-grow: 1;
	position: fixed;
	width: 100vw;
	justify-content: space-between;
	border-bottom: 1px solid black;
	align-items: center;
	padding: 1vmin;
	padding-bottom: 0;
	padding-top: 0;
}

.App-brand {
	/* background-color: #282c34; */
	width: calc(var(--header-height) * 2.3);
	font-family: 'KoHo';
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: calc(10px + var(--header-height) / 5);
}

.App-bottom {
	display: flex;
	flex-direction: row;
}

.SideMenu {
	background-color: var(--background-color);
	position: fixed;
	display: flex;
	flex-direction: column;
	z-index: 998;
	font-size: var(--side-menu-font-size);
	/* height: calc(98.9vh - var(--header-height)); */
	height: 100vh;
	width: var(--side-menu-width);
	justify-content: flex-start;
	align-items: center;
	margin-top: var(--header-height);
	border-right: 1px solid black;
}

.SideMenu-h {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(var(--side-menu-width) * 2/3);
	height: 1.4em;
	border: 2px solid black;
	border-radius: 1vmin;
	padding: 1vmin;
	margin-top: 5vh;
	margin-bottom: 1vh;
}

.SideMenu-nava {
	flex-shrink: 1;
	font-size: var(--side-menu-font-size);
	text-align: left;
	padding: 1em;
	padding-left: 0.5em;
	cursor: pointer;
	transition-duration: 0.3s;
	background: none;
	border-color: var(--background-color);
	border-style: solid;
	border-radius: 1vmin;
}

.SideMenu-nava:hover {
	background-color: var(--highlight-color);
}

.DashWin {
	display: flex;
	z-index: 10;
	flex-direction: column;
	margin-left: var(--side-menu-width);
	margin-top: var(--header-height);
	flex-grow: 1;

	--xwalk: 30px;
	-webkit-animation: fadein;
	-moz-animation: fadein;
	 -ms-animation: fadein;
	  -o-animation: fadein;
		 animation: fadein;
	animation-duration: 1s;
	/* animation-timing-function: ease; */
}

.DashWinLoading {
	display: flex;
	z-index: 10;
	flex-direction: column;
	margin-left: var(--side-menu-width);
	margin-top: var(--header-height);
}

.SchemesView {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 2vw;
	padding-top: 2vh;
	align-items: center;
	justify-content: flex-start;
}

.SchemesView::-webkit-scrollbar {
	display: none;
}

.Scheme {
	position: relative;
	/* background-color:#61dafb; */
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	justify-content: flex-start;
	width: 16vw;
	height: 30vh;
	margin: 1.5vmax;
	cursor: pointer;
	flex-shrink: 0;
	box-shadow: none;
	transition-duration: 0.3s;
}

.Scheme:hover {
	box-shadow: 2px 2px 4px gray;
}

.Scheme-preview {
	width: inherit;
	display: flex;
	flex-direction: column;
	box-shadow: none;
	overflow: scroll;
	white-space: nowrap;
}

.Scheme-preview::-webkit-scrollbar {
	display: none;
}

.Scheme-preview ul {
	list-style-type: none; /* "\2610" */
	padding: 2vmin;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	transition-duration: 0.3s;
	box-shadow: none;
	text-overflow: ellipsis;
}
